/* common shared styles */
body{
font-family: 'Open Sans', sans-serif;

}
/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;

}
.nav-title{
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 45px;

}

nav > ul{
   list-style: none;
   display: flex;
   align-items: center;

}
nav li{
    padding: 20px;
    color: #474747;
  
}
nav li a{
    text-decoration: none;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    border: 0;
    padding: 15px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    margin-right: 15px;
}
.hader{
    background: #FFF8F3;
    background-image: url('../images/developer.png');
    background-position: top left;
    background-repeat: no-repeat;
}
.banner{
    padding: 30px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .pic{
    width: 584px;
    height: 676px;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
  
    
   
}
.banner .nam{
    font-size: 65px;
    font-weight: 700px;
    margin-bottom: 2px;
}
.banner .fnam{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner .pnam{
    color: #757575;
    color: #757575;
    font-weight: 400;
}
.banner-contant{
    max-width: 500px;
}

/* main contant styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}


/* about sections styles */

.about{
    padding: 30px 100px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
    text-align: center;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.secton-discription{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}
.info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    margin: 0 30px;

}
.info-title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.info-discription{
    color: #474747;
    font-size: 20px;
    font-weight: 700;

}
#what{
    padding: 30px;
    margin: 0 150px;

}

/* skill related styles */

.skill-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill{
 
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 33px;


}
.skil-title{
    color: #181818;
font-size: 20px;
font-weight: 700;


}
.skill-discription{
    color: #757575;
font-size: 16px;
font-weight: 400;

}
.resume-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
margin: 130px 0;
}
.resume-colum-title{
    color: #474747;
font-size: 30px;
font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-discription{
   
}
.resume-colum{
   
}
.colum-title{
    color: #474747;
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;
}
.colum-first-title{
    color: #757575;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
margin-top: 0px;
}
.colum-second-title{
    color: #757575;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
margin-top: 0px;
}

.colum-discription{
    color: #757575;
font-size: 16px;
font-weight: 400;
}
.resume-discuption hr{
    margin: 30px;
}
.primary-btn{
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
}
.download-cv{
text-align: center;
}
.primary-btn{
    color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 700;
margin-top: 50px;
}
.footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;

}
.section-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-discription{
    color: #474747;
font-size: 16px;
font-weight: 400;
text-align: left;


}
.footer-colum{
    width: 50%;
}
.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 30px;


}
.inp{
    width: 460px;
height: 40px;
border-radius: 5px;
background: #FFF;
border: 0;

}
.ptn{
    width: 461px;
height: 40px;
border-radius: 5px;
background: #FFF;
border: 0;

}
textarea {
    width: 461px;
height: 180px;
border-radius: 5px;
background: #FFF;
border: 0;
}
.sbg{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 700;

}